@model MockServer.Web.Models.ProjectSettings.Auth.ApiKeyAuthModel
@{
    var project = Model.Project;
}
<div class="row flex-nowrap">
    <partial name="/Views/ProjectSettings/Shared/_SideBar.cshtml" model="@project.Name" />
    <div class="col py-3">
        <div class="w-75">
            <h5>Create ApiKey Authentication</h5>
            <form method="post">
                <div class="card mb-2">
                    <div class="card-header">
                        Definition
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="SchemeName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="SchemeName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header">
                        Keys
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table" id="additional-claims-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Key</th>
                                        <th>Claims</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Options.Keys.Count; i++)
                                    {
                                        <tr>
                                            <td class="align-middle" style="width:150px">
                                                <input type="text" class="form-control" asp-for="Options.Keys[i].Name">
                                            </td>
                                            <td class="align-middle">
                                                <input type="text" class="form-control" asp-for="Options.Keys[i].Key">
                                            </td>
                                            <td class="align-middle">
                                                <input type="hidden" asp-for="Options.Keys[i].Active">
                                                <label
                                                asp-for="Options.Keys[i].Active">@Model.Options.Keys[i].Claims.Count</label>
                                            </td>
                                            <td class="align-middle">
                                                <div id="Options_Keys_@(i)__Claims" class="display-none js-claims">
                                                    @for (int j = 0; j < Model.Options.Keys[i].Claims.Count; j++)
                                                    {
                                                        <input type="hidden" asp-for="Options.Keys[i].Claims[j].Type">
                                                        <input type="hidden" asp-for="Options.Keys[i].Claims[j].Value">
                                                    }
                                                </div>
                                                <label asp-for="Options.Keys[i].Active"
                                                class="form-label my-auto text-danger">@(Model.Options.Keys[i].Active?"Active":"Inactive")</label>
                                            </td>
                                            <td class="align-middle">
                                                <div>
                                                    <button class="btn js-toggle-status" type="button">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </button>
                                                    <button class="btn js-toggle-status" type="button">
                                                        <i
                                                        class="bi @(Model.Options.Keys[i].Active?"bi-toggle-on":"bi-toggle-off")"></i>
                                                    </button>
                                                    <button class="btn js-claim-delete" type="button">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-secondary">Generate</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary me-2"
                        onclick="location.href='@Context.Request.Headers["Referer"].ToString()'">Back</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<template id="additional-claim-row-template">
    <tr>
        <td class="align-middle" style="width:150px">
            <input type="text" class="form-control js-claim-input js-claim-type">
        </td>
        <td class="align-middle">
            <input type="text" class="form-control js-claim-input js-claim-name">
        </td>
        <td class="align-middle">
            <button class="btn js-claim-delete" type="button">
                <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>
</template>
<template id="claims-modal">

</template>
<script>
    $(function () {
        $('.js-select-algorithm').click(function () {
            $('input[name=Algorithm]').val($(this).data('algorithm'));
            $('#selectedAlgorithm').html($(this).data('algorithm'));
        });
        $('.js-generate-key').click(function () {

        });

        $('body').on('keyup', '.js-claim-input', function (e) {
            const index = $(this).closest('tr').index();
            if (index == $("#additional-claims-table tbody tr").length - 1) {
                const tr = $($('#additional-claim-row-template').html());
                $("#additional-claims-table tbody").append(tr);
            }
        });

        $('body').on('click', '.js-claim-delete', function (e) {
            const tr = $(this).closest('tr');
            tr.remove();
        });
    });
</script>