@using MockServer.Core.Enums
@using MockServer.WebMVC.Controllers
@model MockServer.WebMVC.Models.ProjectSettings.Auth.AuthIndexModel
@{

}
<div class="row flex-nowrap">
    <partial name="/Views/ProjectSettings/Shared/_SideBar.cshtml" model="@Model.Project.Name" />
    <div class="col py-3">
        <div class="w-75">
            <div class="d-flex">
                <h5>Authentication</h5>
                <div class="ms-auto btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Create
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="@Url.Action(nameof(ProjectSettingsController.CreateJwtBearer), new { name = Model.Project.Name })">JWT</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="@Url.Action(nameof(ProjectSettingsController.CreateApiKey), new { name = Model.Project.Name })">API
                                Key</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-2">
            @if (Model.Authentications.Count() == 0)
            {
                <div>
                    There are no authentication schemes for this project.
                </div>
            }
            else
            {
                <div>
                    @{
                        var auths = Model.Authentications;
                    }
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Settings Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int no = 1;
                            }
                            @foreach (var auth in auths)
                            {
                                var link = "";
                                if (auth.Type is AuthType.JwtBearer)
                                {
                                    link = @Url.Action(nameof(ProjectSettingsController.ViewJwtBearer), new
                                    {
                                        name = Model.Project.Name,
                                        id = auth.Id
                                    });
                                }
                                else if (auth.Type is AuthType.ApiKey)
                                {
                                    link = @Url.Action(nameof(ProjectSettingsController.ViewApiKey), new
                                    {
                                        name = Model.Project.Name,
                                        id = auth.Id
                                    });
                                }
                                <tr>
                                    <th>@no</th>
                                    <td><a class="text-decoration-none" href="@link">@auth.SchemeName</a>
                                    </td>
                                    <td>@auth.Type</td>
                                    <td>@(auth.Order == 0 ? "Default" : auth.Order > 0 ? $"Set /{auth.Order}" : "Not Set")</td>
                                    <td>...</td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>