@page
@model MyApp.Namespace.AppListModel
@{
}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Route Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in Model.Apps)
        {
            <tr>
                <td>@app.Id</td>
                <td><a asp-page="/Apps/AppOverview" asp-route-appId="@app.Id">@app.Name</a></td>
                <td><a asp-page="/Routes/RouteList" asp-route-appId="@app.Id">@app.Routes.Count</a></td>
            </tr>
        }
    </tbody>
</table>
