@using MockServer.Web.Controllers
@model MockServer.Web.Models.WebApplications.Routes.RoutePageModel
@{
    ViewData["Title"] = Model.WebApplication.Name;
}
@section Scripts {
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.9/dist/vuetify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
    integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<style>
    .context-menu {
        position: absolute;
        width: 60px;
    }
</style>
<div class="row">
    <div class="col-2">
        <partial name="/Views/WebApplications/_SideBar.cshtml" model="Model.WebApplication">
    </div>
    <div id="app" class="col-10">
        <div class="row">
            <div class="col-3">
                <div class="d-flex mt-1">
                    <input v-model="searchTerm" @@keyup="delayedSearch" class="form-control form-control-sm me-1"
                        type="text" placeholder="Search">
                    <button @@click="newRoute" class="btn btn-sm bg-violet-500 text-white">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
                <div class="route-list-container">
                    <route-list :routes="routes" :selected_id="openingRouteId" @@click-route="openRoute"
                        @@edit-route="editRoute" @@create-route="createRoute"
                        @@show-context-menu="showContextMenu"></route-list>
                </div>
            </div>
            <div class="col-9 h-100" id="route-details">
                <div v-if="openingRoute">
                    <form v-on:submit.prevent="onSubmit">
                        <div class="card mt-1">
                            <div class="card-header">
                                Basic Info
                            </div>
                            <div class="card-body">
                                <div>
                                    <small>Name</small>
                                    <input type="text" v-model="openingRoute.name" class="form-control form-control-sm"
                                        aria-autocomplete="none">
                                </div>
                                <div class="mt-1 d-flex">
                                    <div>
                                        <small>Method</small>
                                        <select v-model="openingRoute.method"
                                            class="form-select form-select-sm w-auto me-2">
                                            @foreach (var method in Model.HttpMethodSelectListItem)
                                            {
                                                <option value="@method.Value">@method.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="flex-fill">
                                        <small>Path</small>
                                        <input type="text" v-model="openingRoute.path"
                                            class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <small>Url</small>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control"
                                            :value="openingRoute.method + ' ' + '@(string.Format("https://u{0}-{1}.mockserver.com", Model.WebApplication.User.Id, Model.WebApplication.Name))' + '/' + openingRoute.path"
                                            readonly>
                                        <button type="button" class="input-group-text ">
                                            <i class="bi bi-clipboard"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-header">
                                Integration
                            </div>
                            <div class="card-body">
                                <small>Integration Type</small>
                                <div class="mt-1">
                                    @foreach (var type in Model.IntegrationTypeSelectListItem)
                                    {
                                        <div class="form-check form-check-inline">
                                            <input v-model="openingRoute.integrationType" class="form-check-input"
                                            type="radio" value="@type.Value">
                                            <label class="form-check-label">@type.Text</label>
                                        </div>
                                    }
                                </div>
                                <p class="form-text">Changing the integration type will result in the loss of the
                                    current integration configuration.</p>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-header">
                                Authorization
                            </div>
                            <div class="card-body">
                                <div>
                                    <small>Authorization Type</small>
                                    <div class="mt-1">
                                        @foreach (var type in Model.AuthorizationTypeSelectListItem)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="@type.Value"
                                                v-model="openingRoute.authorization.type">
                                                <label class="form-check-label">@type.Text</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <small>Policy</small>
                                    <select class="form-select" v-model="openingRoute.authorization.policies"
                                        multiple="multiple" data-placeholder="Select policies...">
                                        @foreach (var policy in Model.PolicySelectListItem)
                                        {
                                            <option value="@policy.Value">@policy.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-header">
                                Request Validation
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button type="button" class="nav-link active py-1" data-bs-toggle="tab"
                                            data-bs-target="#request-param-tab">Query</button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" class="nav-link py-1" data-bs-toggle="tab"
                                            data-bs-target="#request-header-tab">Headers</button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" class="nav-link py-1" data-bs-toggle="tab"
                                            data-bs-target="#request-body-tab">Body</button>
                                    </li>
                                </ul>
                                <div class="tab-content" style="min-height: 200px;">
                                    <div id="request-param-tab" class="tab-pane fade show active p-2" role="tabpanel">
                                        <table class="table table-sm p-0 m-0">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%" scope="col">Key</th>
                                                    <th style="width: 75%" scope="col">Attributes</th>
                                                    <th style="width: 5%" scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(query, index) in openingRoute.requestQueries">
                                                    <td class="align-middle">
                                                        <input type="text" v-model="query.key"
                                                            class="form-control form-control-sm" placeholder="key"
                                                            autocomplete="off">
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="d-flex">
                                                            <select style="display: none;" v-model="query.attributes"
                                                                multiple></select>
                                                            <validation-attributes-list
                                                                :attributes="query.attributes"></validation-attributes-list>
                                                            <button type="button" class="ms-auto"
                                                                v-on:click="showValidationAttributesModal(query.attributes, attrs => query.attributes = attrs)">
                                                                <i class="bi bi-box-arrow-in-up-right"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button type="button" class="btn text-gray btn-show-on-hover"
                                                            v-on:click="openingRoute.requestQueries.splice(index, 1)">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="mt-1">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                v-on:click="addRow('requestQueries')">Add</button>
                                        </div>
                                    </div>
                                    <div id="request-header-tab" class="tab-pane fade p-2" role="tabpanel">
                                        <table id="request-header-table" class="table table-sm p-0 m-0">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%" scope="col">Header</th>
                                                    <th style="width: 75%" scope="col">Attributes</th>
                                                    <th style="width: 5%" scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(header, index) in openingRoute.requestHeaders">
                                                    <td class="align-middle">
                                                        <input type="text" v-model="header.name"
                                                            class="form-control form-control-sm" placeholder="name"
                                                            autocomplete="off" aria-autocomplete="none">
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="d-flex">
                                                            <select style="display: none;" v-model="header.attributes"
                                                                multiple></select>
                                                            <validation-attributes-list
                                                                :attributes="header.attributes"></validation-attributes-list>
                                                            <button type="button" class="ms-auto"
                                                                v-on:click="showValidationAttributesModal(header.attributes, attrs => header.attributes = attrs)">
                                                                <i class="bi bi-box-arrow-in-up-right"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <button type="button" class="btn text-gray btn-show-on-hover"
                                                            v-on:click="openingRoute.requestHeaders.splice(index, 1)">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="mt-1">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                v-on:click="addRow('requestHeaders')">Add</button>
                                        </div>
                                    </div>
                                    <div id="request-body-tab" class="tab-pane fade p-2" role="tabpanel">
                                        <div class="mt-1">
                                            <div class="card mt-2">
                                                <div class="card-header">
                                                    Fields Validation
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <p class="form-text">To refer to the entire body object, enter a
                                                            period (.) in the field name, and to refer to a specific
                                                            field
                                                            of the body object, simply enter the field name in without
                                                            the period prefix.</p>
                                                    </div>
                                                    <table class="table table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 20%" scope="col">Field</th>
                                                                <th style="width: 75%" scope="col">Attributes</th>
                                                                <th style="width: 5%" scope="col">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                v-for="(field, index) in openingRoute.requestBody.fieldValidationAttributes">
                                                                <td class="align-middle">
                                                                    <input type="text" v-model="field.name"
                                                                        class="form-control form-control-sm"
                                                                        placeholder="name" autocomplete="off"
                                                                        aria-autocomplete="none">
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="d-flex">
                                                                        <select style="display: none;"
                                                                            v-model="field.attributes"
                                                                            multiple></select>
                                                                        <validation-attributes-list
                                                                            :attributes="field.attributes"></validation-attributes-list>
                                                                        <button type="button" class="ms-auto"
                                                                            v-on:click="showValidationAttributesModal(field.attributes, attrs => field.attributes = attrs)">
                                                                            <i class="bi bi-box-arrow-in-up-right"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <button type="button"
                                                                        class="btn text-gray btn-show-on-hover"
                                                                        v-on:click="openingRoute.requestBody.fieldValidationAttributes.splice(index, 1)">
                                                                        <i class="bi bi-trash"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="mt-1">
                                                        <button type="button" class="btn btn-secondary btn-sm"
                                                            v-on:click="addRequesBodyField">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 d-flex">
                            <button type="button" @@click="discardChange"
                                class="btn btn-secondary ms-auto">Cancle</button>
                            <button type="submit" class="btn btn-primary ms-2">Save</button>
                        </div>
                    </form>
                </div>
                <div v-else>
                    Click to show details
                </div>
            </div>
        </div>
        <validation-attributes-modal v-if="validationAttributesModalVisible"
            :attributes="validationAttributesModalAttributes" @@save="onValidationAttributesModalSaved"
            @@close="closeValidationAttributesModal"></validation-attributes-modal>
    </div>
</div>
<template id="requestDeleteConfirmModalTemplate">
    <div class="modal fade" id="requestDeleteConfirmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are your sure want to delete request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="btnDelete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="route-list-template">
    <div>
        <ul v-if="routes.length > 0" class="list-group list-group-flush mt-2">
            <li v-for="route in routes" :key="route.id" class="list-group-item px-2 py-1"
                :class="{'bg-gray': route.id === selected_id}">
                <div class="row">
                    <div v-on:click="click(route.id)" class="col" style="position: relative;">
                        <a onclick="event.preventDefault()" href="#"
                            class="text-decoration-none stretched-link">{{route.name}}</a>
                        <div>
                            <small class="badge rounded-pill me-1" style="width: 60px;"
                                :class="getMethodClass(route.method)">{{route.method}}</small>
                            <small class="text-muted">/{{route.path}}</small>
                        </div>
                    </div>
                    <div class="p-0 my-auto" style="width: 40px;">
                        <button v-on:click="showContextMenu(route.id, $event)" class="btn btn-sm" type="button">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
<template id="route-list-context-menu-template">
    <div class="btn-group-vertical dropdown-menu context-menu" role="group">
        <button type="button" v-on:click="showRouteDeleteConfirmModal"
            class="dropdown-item btn btn-default text-danger">Delete</button>
    </div>
</template>
<template id="validation-attributes-modal-template">
    <div id="validationAttributesModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Validation Attributes</h6>
                    <button type="button" class="btn-close" v-on:click="close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li v-for="(attr, index) in attrs" class="list-group-item">
                            <div class="d-flex">
                                <select v-model="attr.name" class="form-select form-select-sm w-auto me-1">
                                    <option :value="null" selected>Attribute Name</option>
                                    <option v-for="item in builtInValdationAttributes" :value="item.name">{{item.name}}
                                    </option>
                                </select>
                                <input type="text" v-model="attr.parameters" class="form-control form-control-sm"
                                    :placeholder="placeholder" />
                                <button type="button" class="btn text-gray btn-show-on-hover" @@click="remove(index)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="mt-2">
                        <button type="button" class="btn btn-secondary btn-sm" @@click="add">Add</button>
                    </div>
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-secondary" v-on:click="close">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="validation-attributes-list-template">
    <div class="d-flex">
        <span v-for="attr in attributes" class="me-1 bg-gray py-1 px-2 rounded">{{attributeAsString(attr)}}</span>
    </div>
</template>
<script>
    const ValidationAttributesList = {
        props: {
            attributes: {
                type: Array,
                default: () => ({})
            }
        },
        template: '#validation-attributes-list-template',
        methods: {
            attributeAsString(attr) {
                return attr.name;
                if (attr.parameters) {
                    return `${attr.name}(${attr.parameters})`;
                } else {
                    return attr.name;
                }
            }
        }
    }
    const ValidationAttributesModal = {
        template: '#validation-attributes-modal-template',
        props: {
            attributes: {
                type: Object,
                default: () => ({})
            }
        },
        methods: {
            close() {
                this.$emit('close')
            },
            save() {
                //TODO: Validation here
                this.$emit('save', this.attrs)
            },
            add() {
                this.attrs.push({name: null, parameters: ''});
            },
            remove(index) {
                this.attrs.splice(index, 1)
            }
        },
        data: function () {
            console.log(JSON.stringify(JSON.parse('@Html.Raw(Json.Serialize(Model.BuiltInValdationAttributes))')))
            return {
                attrs: JSON.parse(JSON.stringify(this.attributes || [])),
                builtInValdationAttributes: JSON.parse('@Html.Raw(Json.Serialize(Model.BuiltInValdationAttributes))')
            }
        },
        computed: {
            placeholder() {
                //const selectedOption = this.builtInValdationAttributes.find(item => item.name === this.attr.name)
                //return selectedOption ? selectedOption.parameterDescription : 'Attribute parameters'
                return 'work'
            }
        }
    }
    const RouteList = {
        props: {
            selected_id: {
                type: Number
            },
            routes: {
                type: Array,
                required: true
            }
        },
        template: '#route-list-template',
        methods: {
            click(id) {
                this.$emit('click-route', id);
            },
            editRoute(route) {
                this.$emit('edit-route', route);
            },
            createRoute() {
                this.$emit('create-route');
            },
            getMethodClass(method) {
                switch (method) {
                    case 'DELETE': return 'text-red';
                    case 'POST': return 'text-orange';
                    case 'PUT': return 'text-yellow';
                    case 'GET': return 'text-green';
                    default: return 'text-blue';
                }
            },
            showContextMenu(id, event) {
                //TODO: show context menu
                this.$emit('show-context-menu', id, event);
            },
            showDeleteConfirmDialog(id) {
                //TOOD: show confirm diaglog
            },
            delete(id) {
                //TODO: Delete
                this.$emit('route-deleted', id);
            }
        }
    }
    const RouteListContextMenu = {
        template: '#route-list-context-menu-template',
        props: {

        },
        methods: {

        }
    }

    let timeout = null;
    const {createApp, onMounted, ref, nextTick} = Vue
    const {Modal} = bootstrap
    const app = createApp({
        setup() {
            const webapp = ref(null);
            const routes = ref([]);
            const openingRoute = ref(null);
            let openingRouteOriginalValue = null;
            const mode = ref();
            const openingRouteId = ref(0);
            const searchTerm = ref('');
            const RouteBaseUrl = '@string.Format("https://u{0}-{1}.mockserver.com", Model.WebApplication.User.Id, Model.WebApplication.Name)';
            const openRoute = async id => {
                if (mode.value !== 'EDIT') {
                    mode.value = 'EDIT';
                }
                let tempUrl = '@Url.Action(nameof(WebApplicationRoutesController.ApiGet), new { WebApplicationName = Model.WebApplication.Name, RouteId = -9999})';
                axios.get(tempUrl.replace('-9999', id))
                    .then(res => {
                        openingRoute.value = res.data
                        openingRoute.value.requestBody = openingRoute.value.requestBody || {}
                        this.openingRouteOriginalValue = JSON.parse(JSON.stringify(openingRoute.value));
                        openingRouteId.value = id
                    })
            }
            const delayedSearch = () => {
                const IndexUrl = '@Url.Action(nameof(WebApplicationRoutesController.ApiIndex), new {WebApplicationName = Model.WebApplication.Name})'
                clearTimeout(timeout);
                timeout = setTimeout(async () => {
                    const params = {
                        SearchTerm: searchTerm.value
                    }
                    const query_params = new URLSearchParams(params);
                    let reqOptions = {
                        method: "GET",
                        url: IndexUrl.trimEnd('?') + '?' + query_params.toString()
                    }
                    let response = await axios.request(reqOptions);
                    console.log(JSON.stringify(response.data));
                    routes.value = response.data
                }, 800);
            }

            const newRoute = () => {
                mode.value = 'CREATE';
                openingRoute.value = {
                    id: 0,
                    name: 'untitled',
                    method: 'GET',
                    path: '',
                    integrationType: 1,
                    authorization: {
                        type: 0,
                        policies: []
                    },
                    requestBody: {}
                }
                routes.value.unshift(openingRoute.value)
                openingRouteId.value = 0
            }
            const showContextMenu = (id, event) => {
                log(id)
            }
            const onSubmit = () => {
                let url = ''
                if (mode.value === 'CREATE') {
                    url = '@Url.Action(nameof(WebApplicationRoutesController.ApiCreate), "WebApplicationRoutes", new { WebApplicationName = Model.WebApplication.Name})';
                } else {
                    let tempUrl = '@Url.Action(nameof(WebApplicationRoutesController.ApiEdit), new { WebApplicationName = Model.WebApplication.Name, RouteId = -9999})';
                    url = tempUrl.replace('-9999', openingRoute.value.id);
                }
                let route = openingRoute.value;
                axios.post(url, route)
                    .then((res) => {
                    });
            }
            const discardChange = () => {
                if (mode.value === 'EDIT') {
                    openingRoute.value = this.openingRouteOriginalValue
                    this.openingRouteOriginalValue = JSON.parse(JSON.stringify(openingRoute.value))
                } else {
                    //CREATE
                    routes.value.splice(0, 1)
                    openingRoute.value = null
                    openingRouteId.value = null
                }
            }
            const addRow = (prop) => {
                openingRoute.value[prop] = openingRoute.value[prop] || [];
                openingRoute.value[prop].push({
                    name: null,
                    attributes: []
                });
            }
            const addRequesBodyField = () => {
                openingRoute.value.requestBody.fieldValidationAttributes = openingRoute.value.requestBody.fieldValidationAttributes || []
                openingRoute.value.requestBody.fieldValidationAttributes.push({name: null, attributes: []})
            }

            let validationAttributesModal = null;
            const validationAttributesModalVisible = ref(false)
            const validationAttributesModalAttributes = ref(null)
            let onValidationAttributesModalSavedHandler
            const showValidationAttributesModal = async (attributes, onValidationAttributesModalSavedHandler) => {
                validationAttributesModalAttributes.value = attributes
                this.onValidationAttributesModalSavedHandler = onValidationAttributesModalSavedHandler
                validationAttributesModalVisible.value = true
                await nextTick()
                this.validationAttributesModal = new bootstrap.Modal(document.getElementById("validationAttributesModal"), {})
                this.validationAttributesModal.show()
            }
            const closeValidationAttributesModal = () => {
                this.validationAttributesModal.hide()
                this.validationAttributesModal = null
                validationAttributesModalVisible.value = false
                this.onValidationAttributesModalSavedHandler = null
            }
            const onValidationAttributesModalSaved = (attributes) => {
                this.onValidationAttributesModalSavedHandler(attributes)
                validationAttributesModalVisible.value = false
                this.onValidationAttributesModalSavedHandler = null
            }
            onMounted(() => {
                webapp.value = JSON.parse('@Html.Raw(Json.Serialize(Model.WebApplication))')
                routes.value = JSON.parse('@Html.Raw(Json.Serialize(Model.Routes.Select(r => new {
                    r.Id,
                    r.Name,
                    r.Method,
                    r.Path
                    })))')
            })

            return {
                routes,
                RouteBaseUrl,
                openingRoute,
                openingRouteId,
                openRoute,
                newRoute,
                showContextMenu,
                delayedSearch,
                searchTerm,
                webapp,
                onSubmit,
                discardChange,
                mode,
                addRow,
                addRequesBodyField,
                validationAttributesModalVisible,
                validationAttributesModalAttributes,
                showValidationAttributesModal,
                onValidationAttributesModalSaved,
                closeValidationAttributesModal
            }
        }
    });
    app.component('route-list', RouteList)
    app.component('validation-attributes-modal', ValidationAttributesModal)
    app.component('validation-attributes-list', ValidationAttributesList)
    app.mount('#app');
</script>
