@model AuthenticationSchemeListViewModel
@{
    var app = ViewBag._App as WebAppModel;
}
<div class="row">
    <div class="col-2">
        <partial name="../Shared/_SideBar.cshtml" model="app" />
    </div>
    <div class="col-10">
        <partial name="_NavBar.cshtml" model="app" />
        <div class="mt-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false"> New Scheme
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="@Url.Action(nameof(WebAppAuthenticationController.CreateJwtBearerScheme), "WebAppAuthentication", new { WebAppName = app.WebAppName })">JWT Bearer</a>
                    </li>
                    <li>
                        <a class="dropdown-item disabled"
                            href="@Url.Action(nameof(WebAppAuthenticationController.CreateApiKeyScheme),"WebAppAuthentication", new { WebAppName = app.WebAppName })'">API Key</a>
                    </li>
                </ul>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Usage</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = 1;
                        foreach (var scheme in Model.AuthenticationSchemes)
                        {
                            <tr>
                                <th scope="row">@no</th>
                                <td>@scheme.Name</td>
                                <td>@scheme.Type</td>
                                <td>In Use</td>
                                <td>
                                    <div>
                                        @{
                                            var editAction = "";
                                            if (scheme.Type == AuthenticationSchemeType.JwtBearer)
                                            {
                                                editAction = Url.Action(nameof(WebAppAuthenticationController.EditJwtBearerScheme), "WebAppAuthentication", new { WebAppName = app.WebAppName, SchemeId = scheme.Id});
                                            }
                                            else if (scheme.Type == AuthenticationSchemeType.ApiKey)
                                            {
                                                editAction = Url.Action(nameof(WebAppAuthenticationController.EditApiKeyScheme), "WebAppAuthentication", new { WebAppName = app.WebAppName, SchemeId = scheme.Id});
                                            }
                                        }
                                        <a class="btn btn-primary" href="@editAction">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            no++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>