@using WebApplication.Domain.WebApplication.Entities
@using WebApplication.Domain.WebApplication.Shared
@using MicroCloud.Web.Controllers
@model MicroCloud.Web.Models.WebApplications.Authentications.AuthenticationIndexModel
<div class="row">
    <div class="col-2">
        <partial name="/Views/WebApplications/_SideBar.cshtml" model="Model.WebApplication" />
    </div>
    <div class="col-10">
        <partial name="/Views/WebApplications/Authentications/_NavBar.cshtml" model="Model.WebApplication" />
        <div class="mt-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false"> New Scheme
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="@Url.Action(nameof(WebAppAuthenticationsController.NewJwtBearerScheme), new { WebApplicationName = Model.WebAppModel.Name })">JWT Bearer</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="@Url.Action(nameof(WebAppAuthenticationsController.NewApiKeyScheme), new { WebApplicationName = Model.WebAppModel.Name })">API
                            Key</a>
                    </li>
                </ul>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Usage</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int no = 1;
                        foreach (var scheme in Model.AuthenticationSchemes)
                        {
                            <tr>
                                <th scope="row">@no</th>
                                <td>@scheme.Name</td>
                                <td>@scheme.Type</td>
                                <td>In Use</td>
                                <td>
                                    <div>
                                        @{
                                            var editAction = "";
                                            if (scheme.Type == AuthenticationSchemeType.JwtBearer)
                                            {
                                                editAction = Url.Action(nameof(WebAppAuthenticationsController.EditJwtBearerScheme), new { WebApplicationName = Model.WebAppModel.Name, SchemeId = scheme.Id});
                                            }
                                            else if (scheme.Type == AuthenticationSchemeType.ApiKey)
                                            {
                                                editAction = Url.Action(nameof(WebAppAuthenticationsController.EditApiKeyScheme), new { WebApplicationName = Model.WebAppModel.Name, SchemeId = scheme.Id});
                                            }
                                        }
                                        <a class="btn btn-primary" href="@editAction">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            no++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>