@model MycroCloud.WebMvc.Areas.Services.Models.WebApps.WebAppModel
@using MycroCloud.WebMvc.Areas.Services.Controllers
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<div class="d-flex flex-column flex-shrink-0">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="@Url.Action(nameof(WebAppsController.View), "WebApps" ,new { WebApplicationName = Model.Name })"
                class="nav-link @(controller.Equals("WebApplications", StringComparison.OrdinalIgnoreCase) && action.Equals("Overview",
                StringComparison.OrdinalIgnoreCase) ?"active":"") py-1" role="tab">Overview</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action(nameof(WebAppRoutesController.Index), "WebAppRoutes" ,new {WebApplicationName=Model.Name})"
                class="nav-link @(controller.Equals("WebApplicationRoutes", StringComparison.OrdinalIgnoreCase) && action.Equals("Index",
                StringComparison.OrdinalIgnoreCase) ?"active":"") py-1" role="tab">Routes</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action(nameof(WebAppAuthenticationsController.SchemeList), "WebAppAuthentications" ,new {WebApplicationName=Model.Name})"
                class="nav-link @(controller.Equals("WebApplicationAuthentications", StringComparison.OrdinalIgnoreCase)?"active":"") py-1" role="tab">Authentication</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action(nameof(WebAppAuthorizationsController.PolicyList), "WebAppAuthorizations" ,new {WebApplicationName=Model.Name})"
                class="nav-link @(controller.Equals("WebApplicationAuthorizations", StringComparison.OrdinalIgnoreCase)? "active":"") py-1"
                role="tab">Authorization</a>
        </li>
    </ul>
</div>