@using MicroCloud.Web.Controllers
@model MicroCloud.Web.Models.WebApplications.Authorizations.PolicyIndexViewModel
@{
    ViewData["Tab"] = "Policies";
}
<div class="row">
    <div class="col-2">
        <partial name="/Views/WebApplications/_SideBar.cshtml" model="Model.WebApplication" />
    </div>
    <div class="col-10">
        <partial name="/Views/WebApplications/Authorization/_NavBar.cshtml" model="Model.WebApplication" />
        <div class="mt-2">
            <a class="btn btn-primary"
                href="@Url.Action(nameof(WebAppAuthorizationsController.PolicyCreate), new { WebApplicationName = Model.WebAppModel.Name })">New</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Policies.Count() > 0)
                    {
                        int no = 1;
                        foreach (var policy in Model.Policies)
                        {
                            <tr>
                                <td>@no</td>
                                <td>
                                    <a class="text-decoration-none"
                                href="@Url.Action(nameof(WebAppAuthorizationsController.PolicyEdit), "WebAppAuthorizations" ,new { WebApplicationName = Model.WebAppModel.Name , PolicyId = policy.PolicyId})">@policy.Name</a>
                                </td>
                                <td>
                                    <button data-id="@policy.PolicyId" class="js-delete-button" data-bs-toggle="modal"
                                data-bs-target="#delete-modal"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            no++;
                        }
                    }
                    else
                    {
                        <div>There are no policies</div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="delete-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="form-horizontal">
                    <div class="modal-body">
                        Are you sure you want to delete this policy?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">No, cancel</button>
                        <button type="submit" class="btn btn-danger float-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.js-delete-button').click(function () {
        const id = $(this).data('id');
        const modal = $('#delete-modal');
        const tempUrl = '@Url.Action(nameof(WebAppAuthorizationsController.PolictDelete),
            new RouteValueDictionary { [Constants.RouteName.WebApplicationName] = Model.WebAppModel.Name, [Constants.RouteName.PolicyId] = -9999})';
        $('form', modal).attr('action', tempUrl.replace('-9999', id));
    })
</script>