@using MockServer.WebMVC.Controllers
@model ICollection<MockServer.WebMVC.Models.Project.ProjectIndexItem>;
<ul class="list-group list-group-flush project-list">
    @foreach (var p in Model)
    {
        <li class="list-group-item">
            <div>
                <h3 class="text-xl">
                    <a class="text-decoration-none me-2"
                    href="@Url.Action(nameof(ProjectsController.View), new {name=p.Name})">@p.Name</a>
                    <span style="padding-top: 2px; padding-bottom: 2px;"
                    class="badge rounded-pill bg-light text-sm fw-bolder text-gray border border-secondary">@p.Accessibility</span>
                </h3>
                <p>@p.Description</p>
                <div class="d-flex">
                    @if (p.RequestCount > 0)
                    {
                        <div class="text-sm text-gray me-5">@p.RequestCount requests</div>
                    }
                    else
                    {
                        <div class="text-sm text-gray me-5">No request</div>
                    }
                    @if (p.UpdatedAt > default(DateTime))
                    {
                        <div class="text-sm text-gray">
                            Updated <span name="updated-at"
                        data-updated-at="@p.UpdatedAt.ToString("yyyy-MM-ddTHH:mm:ss")"></span>
                        </div>
                    }
                </div>
            </div>
        </li>
    }
</ul>

<script>
    $(function () {
        const timeago = new TimeAgo('en-US');
        $('.project-list span[name=updated-at]').each(function () {
            const updatedAt = $(this).data('updated-at');
            if (updatedAt !== '') {
                $(this).text(timeago.format(new Date(updatedAt)));
            }
        });
    });
</script>
