@using MockServer.WebMVC.Controllers;
@model MockServer.WebMVC.Models.Project.RequestOpenViewModel
<div class="row p-1">
    <div class="col">
        <div class="mb-1">
            <strong class="fw-bolder">@Model.Name</strong>
        </div>
        <div class="mb-2">
            <small>The first request</small>
        </div>
        <div class="mb-2">
            <strong class="me-2 @Model.MethodTextColor" id="method">@Model.Method</strong>
            <span id="path">@Model.Path</span>
        </div>
        <div class="input-group mb-3">
            <input id="privateKey" type="text" class="form-control" value="@Model.Url" readonly>
            <button id="btnCopyPrivateKeyToClipboard" type="button" class="input-group-text">
                <i class="bi bi-clipboard">
                </i></button>
        </div>
        <div>
            <h5>Fixed request</h5>
            <div>
                <h6>Request</h6>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#photo1" class="nav-link active py-1" data-bs-toggle="tab">Params</a>
                    </li>
                    <li class="nav-item">
                        <a href="#photo2" class="nav-link py-1" data-bs-toggle="tab">Headers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#photo3" class="nav-link py-1" data-bs-toggle="tab">Body</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="photo1" class="tab-pane active">
                        <div class="d-flex px-2 mt-1">
                            <p>Query Parameters</p>
                            <button class="btn btn-link" onclick="addParam()">Add</button>
                        </div>
                        <div>
                            <ul id="params" class="my-2" style="list-style: none;padding: 0">
                            </ul>
                        </div>
                    </div>
                    <div id="photo2" class="tab-pane mb-2">
                        <p>Headers</p>
                    </div>
                    <div id="photo3" class="tab-pane">
                        <p>Body</p>
                    </div>
                </div>
            </div>
            <div>
                <h6>Response</h6>
            </div>
        </div>
    </div>
</div>
<script>
    function sendRequest() {
        var headers = [];

        $('#params li').each(function () {
            var key = $('#' + $(this).attr('id') + '-key').val();
            var value = $('#' + $(this).attr('id') + '-value').val();
            headers.push({
                key: value
            });
            console.log(headers);
        });

        console.log({
            type: $('#method').text(),
            url: $('#url').text()
        });
        $.ajax({
            url: '',
            type: '',
            headers: { 'key1': 'value1', 'key2': 'value2' }
        })
    }

    function addParam() {
        console.log(paramNo);
        var li = document.createElement('li');
        li.id = 'param' + paramNo;
        li.className = 'mb-1';
        var div = document.createElement('div');
        div.className = 'row';

        var delButton = document.createElement('button');
        var delIcon = document.createElement('i');
        delIcon.classList.add('bi', 'bi-trash');
        delButton.append(delIcon);
        delButton.onclick = deleteParam(paramNo);
        delButton.setAttribute('onclick', 'deleteParam(' + paramNo + ')');
        delButton.classList.add('btn', 'btn-secondary', 'btn-sm');
        var delButtonDiv = document.createElement('div');
        delButtonDiv.className = 'col-2';
        delButtonDiv.appendChild(delButton);

        var keyDiv = document.createElement('div');
        keyDiv.className = 'col-5';
        var keyInput = document.createElement('input');
        keyInput.id = 'param' + paramNo + '-key';
        keyInput.type = 'text';
        keyInput.classList.add('form-control', 'form-control-sm');
        keyInput.name = 'param' + paramNo + '-key';
        keyInput.placeholder = 'Key';
        keyDiv.appendChild(keyInput);

        var valueDiv = document.createElement('div');
        valueDiv.className = 'col-5';
        var valueInput = document.createElement('input');
        valueInput.id = 'param' + paramNo + '-value';
        valueInput.type = 'text';
        valueInput.classList.add('form-control', 'form-control-sm');
        valueInput.name = 'param' + paramNo + '-value';
        valueInput.placeholder = 'Value';
        valueDiv.appendChild(valueInput);

        div.appendChild(keyDiv);
        div.appendChild(valueDiv);
        div.appendChild(delButtonDiv);
        li.appendChild(div);
        $('#params').append(li);
        paramNo++;
    }

    function deleteParam(paramNo) {
        $('#params ' + '#param' + paramNo).remove();
    }
</script>