@model MockServer.WebMVC.Models.Project.RequestOpenViewModel

<div class="d-flex mb-1">
    <strong class="fw-bolder">@Model.Name</strong>
    <button id="btnEdit" class="ms-auto me-2 btn-link text-decoration-none">Edit</button>
    <form method="post" action="/tools/request-tester" target="_blank">
        <input type="hidden" name="method" value="@Model.Method">
        <input type="hidden" name="url" value="@Model.Url">
        <button class="btn-link text-decoration-none">Test</button>
    </form>
</div>
<div class="mb-2">
    <small>@Model.Description</small>
</div>
<div class="mb-2">
    <strong class="me-2 @Model.MethodTextColor" id="method">@Model.Method</strong>
    <span id="path">@Model.Path</span>
</div>
<div class="input-group mb-3">
    <input id="privateKey" type="text" class="form-control" value="@Model.Url" readonly>
    <button id="btnCopyPrivateKeyToClipboard" type="button" class="input-group-text">
        <i class="bi bi-clipboard">
        </i></button>
</div>