@using MockServer.Core.Enums
@using MockServer.Web.Controllers
@model MockServer.Web.Models.ProjectAuthentication.IndexViewModel
@{
    ViewData["Title"] = Model.Project.Name;
    var availableSchemes = Model.AuthenticationSchemes.Where(s => s.Order == 0);
    var selectedSchemes = Model.AuthenticationSchemes.Where(s => s.Order > 0);
}
<style>
    .dragSortableItems .sortable-list {
        list-style: none;
        margin: 0;
        min-height: 20px;
        padding: 0px;
    }

    .dragSortableItems .sortable-item {
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        margin-bottom: -1px;
        padding: 10px;
        cursor: move;
        position: relative;
        padding-left: 8px;
    }

    .dragSortableItems .sortable-item .icon-drag {
        color: #ccc;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .dragSortableItems .sortable-item .sortable-item-input {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }

    .dragSortableItems .placeholder {
        border: 1px dashed #666;
        height: 45px;
        margin-bottom: 5px;
    }

    .dragSortableItems .fixed-panel {
        max-height: 500px;
        overflow-y: auto;
        padding-bottom: 1px;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 7px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<partial name="/Views/ProjectShared/_Breadcrumb.cshtml" model="Model.Project" />
<div style="height: calc(100vh - 180px);">
    <partial name="_NavTabs.cshtml" model="Model.Project" />
    <div class="tab-content h-100">
        <div class="tab-pane fade show active h-100">
            <div class="row flex-nowrap">
                <div class="col py-3">
                    <form method="post">
                        <div class="w-75">
                            <div class="alert alert-info small">
                                <i class="bi bi-info-circle"></i>
                                &nbsp;&nbsp;Drag &amp; Drop schemes from the left over to the right side in the
                                desired location on your dashboard.
                            </div>
                            <span name="el_validationErrorFields" class="text-danger"></span>
                            <div class="row dragSortableItems dragSortableItem_0 dragableMultiselect mb-2">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header d-flex">
                                            <div>
                                                <i class="bi bi-list"></i> Available Schemes
                                            </div>
                                            <div class="ms-auto btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Create
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item"
                                                            href="@Url.Action(nameof(ProjectAuthenticationController.JwtBearer), new { ProjectName = Model.Project.Name })">JWT</a>
                                                    </li>
                                                    <li><a class="dropdown-item"
                                                            href="@Url.Action(nameof(ProjectAuthenticationController.ApiKey), new { ProjectName = Model.Project.Name })">API
                                                            Key</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul
                                                class="in_available_fields custom-scrollbar sortable-list fixed-panel ui-sortable">
                                                @{
                                                    int index = 0;
                                                    foreach (var scheme in availableSchemes)
                                                    {
                                                        var link = "";
                                                        if (scheme.Type is AuthenticationSchemeType.JwtBearer)
                                                        {
                                                            link =
                                                            @Url.Action(nameof(ProjectAuthenticationController.JwtBearer), new
                                                            {
                                                                ProjectName = Model.Project.Name,
                                                                id = scheme.Id
                                                            });
                                                        }
                                                        else if (scheme.Type is AuthenticationSchemeType.ApiKey)
                                                        {
                                                            link = @Url.Action(nameof(ProjectAuthenticationController.ApiKey),
                                                            new
                                                            {
                                                                ProjectName = Model.Project.Name,
                                                                id = scheme.Id
                                                            });
                                                        }
                                                        <li class="sortable-item allowPrimary sortable-item-@index ui-sortable-handle"
                                                        data-fid="@scheme.Id">
                                                            <i class="fa-solid fa-grip-vertical me-2"></i><input type="checkbox"
                                                            class="sortable-item-input"><a class="text-decoration-none"
                                                            href="@link">@scheme.Name</a>
                                                            <input class="js-scheme-id" type="hidden" value="@scheme.Id">
                                                        </li>
                                                        index++;
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card primaryPanel">
                                        <div class="card-header"><i class="bi bi-list-check"></i> Selected Schemes</div>
                                        <div class="card-body">
                                            <div class="alert alert-warning small text-center mb-0"
                                                style="display: none;">No Fields
                                                Selected</div>
                                            <ul
                                                class="in_primary_fields sortable-list selectedDropzone fixed-panel ui-sortable">
                                                @{
                                                    int i = 0;
                                                    foreach (var scheme in selectedSchemes)
                                                    {
                                                        var link = "";
                                                        if (scheme.Type is AuthenticationSchemeType.JwtBearer)
                                                        {
                                                            link =
                                                            @Url.Action(nameof(ProjectAuthenticationController.JwtBearer), new
                                                            {
                                                                ProjectName = Model.Project.Name,
                                                                SchemeId = scheme.Id
                                                            });
                                                        }
                                                        else if (scheme.Type is AuthenticationSchemeType.ApiKey)
                                                        {
                                                            link = @Url.Action(nameof(ProjectAuthenticationController.ApiKey),
                                                            new
                                                            {
                                                                ProjectName = Model.Project.Name,
                                                                SchemeId = scheme.Id
                                                            });
                                                        }
                                                        <li class="sortable-item allowPrimary sortable-item-@i ui-sortable-handle"
                                                        data-fid="@scheme.Id">
                                                            <i class="fa-solid fa-grip-vertical me-2"></i><input type="checkbox"
                                                            class="sortable-item-input"><a class="text-decoration-none"
                                                            href="@link">@scheme.Name</a>
                                                            <input class="js-scheme-id" type="hidden" value="@scheme.Id">
                                                        </li>
                                                        i++;
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // On ready
        $(document).ready(function () {
            const dragableMultiselect = $('.dragableMultiselect');
            dragableMultiselect.length && dragableMultiselect.each((index, value) => {
                const $this = $(value);

                $dragSortableItem = $('.dragSortableItem_' + index);
                let $mainWrapper = $dragSortableItem.closest('.dragSortableItems'),
                    $in_available_fields = $mainWrapper.find('.in_available_fields'),
                    $selectedDropzone = $mainWrapper.find('.selectedDropzone');

                checkFields($mainWrapper);
                $selectedDropzone.find('.sortable-item').each((index, value) => {
                    $(value).find('input.js-scheme-id').attr('name', `AuthenticationSchemes[${index}].Id`)
                });
                // Set up our dropzone
                $in_available_fields.sortable({
                    connectWith: '.sortable-list',
                    placeholder: 'placeholder',
                    start: function (event, ui) {
                        if (!$(ui.item).hasClass("allowPrimary")) {
                            $mainWrapper.find(".primaryPanel").removeClass('panel-primary').addClass("panel-danger");
                        }
                        checkFields($mainWrapper)
                    },
                    receive: function (event, ui) {
                        $(ui.item).find('.sortable-item-input').prop('checked', false);
                    },
                    stop: function (event, ui) {
                        if (!$(ui.item).hasClass("allowPrimary")) {
                            $mainWrapper.find(".primaryPanel").removeClass("panel-danger").addClass('panel-primary');
                        }
                    },
                    change: function (event, ui) {
                        checkFields($mainWrapper);
                    },
                    update: function (event, ui) {
                        checkFields($mainWrapper);
                    },
                    out: function (event, ui) {
                        checkFields($mainWrapper);
                    }
                }).disableSelection();

                // Enable dropzone for primary fields
                $selectedDropzone.sortable({
                    connectWith: '.sortable-list',
                    placeholder: 'placeholder',
                    receive: function (event, ui) {
                        //console.log('selectedDropzone: receive');
                        // If we dont allow primary fields here, cancel
                        if (!$(ui.item).hasClass("allowPrimary")) {
                            $(ui.placeholder).css('display', 'none');
                            $(ui.sender).sortable("cancel");
                        } else {
                            $(ui.item).find('.sortable-item-input').prop('checked', true);
                        }
                    },
                    over: function (event, ui) {
                        //console.log('selectedDropzone: over');
                        if (!$(ui.item).hasClass("allowPrimary")) {
                            $(ui.placeholder).css('display', 'none');
                        } else {
                            $(ui.placeholder).css('display', '');
                        }
                    },
                    start: function (event, ui) {
                        //console.log('selectedDropzone: start');
                        checkFields($mainWrapper)
                    },
                    change: function (event, ui) {
                        //console.log('selectedDropzone: change');
                        checkFields($mainWrapper);
                    },
                    update: function (event, ui) {
                        $selectedDropzone.find('.sortable-item').each((index, value) => {
                            $(value).find('input.js-scheme-id').attr('name', `AuthenticationSchemes[${index}].Id`)
                        });
                        checkFields($mainWrapper);
                    },
                    out: function (event, ui) {
                        //console.log('selectedDropzone: out');
                        checkFields($mainWrapper);
                    }
                }).disableSelection();
            });
        });
        // Checks to see if the fields section has fields selected. If not, shows a placeholder
        function checkFields($this) {
            if ($this.find('.selectedDropzone').find('li').length >= 1) {
                $this.find('.primaryPanel').find('.alert').hide();
            } else {
                $this.find('.primaryPanel').find('.alert').show();
            }
        }
    });
</script>