@using MockServer.Core.Models.Auth
@model MockServer.Web.Models.ProjectRequests.AuthorizationConfiguration
@{
    var availableSchemes = Model.AuthenticationSchemeSelectList
            .Where(s => !Model.AuthenticationSchemes?.Contains(s.Id) ?? true);
    var selectedSchemes = Model.AuthenticationSchemes?.Select(id => Model.AuthenticationSchemeSelectList.FirstOrDefault(x =>
    x.Id == id));
}
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Authorization Configuration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <div>
                    <form>
                        <div>
                            <label class="col-form-label" asp-for="Type">Title</label>
                            <div class="col-sm-10 mb-2">
                                <input type="hidden" asp-for="Type">
                                <div class="dropdown">
                                    <button class="btn btn-default border dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown">
                                        <span id="selectedAuthorization">@(Model.Type?.ToString() ?? "None" )</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><button type="button" data-authorization="None"
                                                class="dropdown-item js-select-authorization">None</button>
                                        </li>
                                        <li><button type="button" data-authorization="Authorize"
                                                class="dropdown-item js-select-authorization">Authorize</button>
                                        </li>
                                        <li><button type="button" data-authorization="AllowAnonymous"
                                                class="dropdown-item js-select-authorization">Allow
                                                Anonymous</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="js-auth-schemes">
                            <label class="col-form-label" asp-for="Type">Authentication Schemes</label>
                            <div class=" d-flex">
                                <div class="w-50 card">
                                    <div class="card-header">Available Schemes</div>
                                    <ul id="available-schemes"
                                        class="connectedSortable list-group list-group-flush p-1 pb-2"
                                        style="min-height: 20px;">
                                        @foreach (var scheme in availableSchemes ??
                                        Enumerable.Empty<AuthenticationScheme>())
                                        {
                                            <li data-scheme-id="@scheme.Id" class="list-group-item bg-light border">
                                                @scheme.SchemeName</li>
                                        }
                                    </ul>
                                </div>
                                <div class="w-50 card">
                                    <div class="card-header">Selected Schemes</div>
                                    <ul id="selected-schemes" class="connectedSortable list-group p-1 pb-2"
                                        style="min-height: 20px;">
                                        @foreach (var scheme in selectedSchemes ??
                                        Enumerable.Empty<AuthenticationScheme>())
                                        {
                                            <li data-scheme-id="@scheme.Id" class="list-group-item bg-light border">
                                                @scheme.SchemeName</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="js-requirements">
                            <label class="col-form-label" asp-for="Policies">Requirements</label>
                            <div class="mb-2">
                                <table id="requirements" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center w-5">
                                                #
                                            </th>
                                            <th class="text-center w-20">
                                                Name
                                            </th>
                                            <th class="text-center w-60">
                                                Expression
                                            </th>
                                            <th class="text-center w-15">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            Model.Policies.Add(new());
                                            int requirementIndex = 0;
                                        }
                                        @foreach (var requirement in Model.Policies)
                                        {
                                            <tr>
                                                <td class="align-middle">@(requirementIndex + 1)</td>
                                                <td class="align-middle">
                                                    <input type="text" asp-for="Policies[requirementIndex].Name"
                                                    placeholder='AtLeast21' class="form-control js-name" />
                                                </td>
                                                <td class="align-middle">
                                                    <input type="text"
                                                    asp-for="Policies[requirementIndex].ConditionalExpression"
                                                    placeholder='User.Age >= 21' class="form-control js-express" />
                                                </td>
                                                <td class="align-middle">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="form-check form-switch pt-1">
                                                            <input class="form-check-input js-status" type="checkbox"
                                                            role="switch" checked=@requirement.Active>
                                                        </div>
                                                        <button class="btn btn-sm red-on-hover"><i
                                                            class="bi bi-x"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            requirementIndex++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btnSave" type="button" class="btn btn-primary btn-save">Save</button>
            </div>
        </div>
    </div>
</div>