@page "/WebApps/{id:int}"
@using WebApp.Infrastructure.Repositories.EfCore
@using Microsoft.EntityFrameworkCore
@using App = WebApp.Domain.Entities.App

<h3>Details @Id</h3>
@if (_app is null)
{
    <div>Loading...</div>
}
else
{
    <table>
        <tr>
            <th colspan="4">Id</th>
            <td>@_app.Id</td>
        </tr>
        <tr>
            <th colspan="4">Name</th>
            <td>@_app.Name</td>
        </tr>
        <tr>
            <th colspan="4">Description</th>
            <td>@_app.Description</td>
        </tr>
        <tr>
            <th colspan="4">Routes Count</th>
            <td>
                Static: @_app.Routes.Count(r => r.ResponseType == "static"); Function: @_app.Routes.Count(r => r.ResponseType == "function")
            </td>
        </tr>
    </table>
    <a href="/WebApps/@Id/Routes">Routes</a>
}
@code {
    [Parameter]
    public int Id { get; set; }

    private App? _app;
    
    [Inject]
    public required AppDbContext AppDbContext { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _app = await AppDbContext.Apps
            .Include(a => a.Routes)
            .SingleAsync(a => a.Id == Id);
    }

}